<div id="confirm-dialog">
    <div class="header d-flex justify-content-between align-content-center">
        <div>
            <span class="typography body body-lg-bold">
                {{data.title}}
            </span>
        </div>

        <button class="btn ds-button-rounded tertiary icon-close" (click)="onNoClick()">
            <i class="fi fi-rr-cross"></i>
        </button>

    </div>


    <div class="modal-content">

        <form [formGroup]="formType">

            <div class="row" id="iconDescription">

                <div class="col">
                    <mat-label>Description</mat-label>
                    <mat-form-field class="full-width" appearance="outline">
                        <i matPrefix class="fi fi-rr-memo pad mr"></i>
                        <input matInput name="description" type="text" formControlName="description"
                            placeholder="Salary">
                    </mat-form-field>
                </div>

            </div>

            <div class="row">

                <div class="col-12">

                    <div class="action-buttons  mt-4">

                        <button mat-button class="btn ds-button-danger" (click)="cancelClick()">
                            <i class="fi fi-rr-check"></i>
                            Cancel
                        </button>

                        <div *ngIf="data.objectEdit == null then add else edit"></div>

                        <ng-template #add>

                            <button mat-button class="btn ds-button-primary"
                                (click)="data.isIncome ? addTypeIncome() : addTypeExpense() ">
                                <i class="fi fi-rr-check"></i>
                                {{data.buttons.primary}}
                            </button>

                        </ng-template>

                        <ng-template #edit>

                            <button mat-button class="btn ds-button-primary"
                                (click)="data.isIncome ? editTypeIncome() : editTypeExpense() ">
                                <i class="fi fi-rr-check"></i>
                                {{data.buttons.primary}}
                            </button>

                        </ng-template>

                        <!-- <button mat-button class="btn ds-button-primary"
                            (click)="data.isIncome && data.objectEdit == null ? addTypeIncome() : addTypeExpense() ">
                            <i class="fi fi-rr-check"></i>
                            {{data.buttons.primary}}
                        </button> -->




                    </div>


                </div>

            </div>

        </form>



    </div>
</div>