.snackbar {
    padding: var(--space-xs) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snackbar .snackbar-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snackbar .snackbar-text span {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-large);
    padding-left: var(--space-lg);
}

.snackbar button {
    margin-left: var(--space-xl);
    border: none;
    background-color: transparent;
}