.delete {
    color: rgb(249, 43, 43);
}

.edit {
    color: rgb(63, 163, 63);
}

button {
    margin-right: 15px;
    border: solid rgb(225, 225, 225) 1px;
}

mat-card-title {
    font-size: 26px;
}

mat-divider {
    margin: 30px 85px;
}

mat-label {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

span {
    font-size: 14px;
    font-family: system-ui;
}

#adresses {
    margin-top: 15px;
}