<h2>Clientes</h2>

<!-- card de pesquisa -->

<mat-card>

    <mat-card-content>

        <form [formGroup]="formSearch" (submit)="search()">

            <div class="row">

                <div class="col-md-6 col-12">
                    <mat-label>Nome</mat-label>
                    <mat-form-field class="full-width" appearance="outline">
                        <i matPrefix class="fi fi-rr-envelope mr"></i>
                        <input matInput name="name" type="text" (focusout)="resetAfterFocus('name')"
                            formControlName="name" placeholder="João Marcelo">
                    </mat-form-field>
                </div>


                <div class="col-md-6 col-12">
                    <mat-label>E-mail</mat-label>
                    <mat-form-field class="full-width" appearance="outline">
                        <i matPrefix class="fi fi-rr-envelope mr"></i>
                        <input matInput name="email" email type="email" (focusout)="resetAfterFocus('email')"
                            formControlName="email" placeholder="Ex. test@email.com">
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-label>Gênero</mat-label>
                    <mat-radio-group class="example-radio-group" formControlName="gender">
                        <mat-radio-button value="M">Masculino</mat-radio-button>
                        <mat-radio-button value="F">Feminino</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="col-5">
                    <mat-label>Cidade/Localidade</mat-label>
                    <mat-form-field class="full-width" appearance="outline">
                        <i matPrefix class="fi fi-rr-envelope mr"></i>
                        <input matInput name="locality" formControlName="locality" placeholder="Ex. São Paulo">
                    </mat-form-field>
                </div>

                <div class="col-4 option">
                    <mat-form-field>
                        <mat-label>UF</mat-label>
                        <mat-select [(ngModel)]="selectedUf" formControlName="uf">
                            <mat-option *ngFor="let item of ufs" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="search">

                <div class="row">

                    <div class="col-6">

                        <button mat-raised-button color="primary" type="submit">Filtrar</button>

                    </div>

                    <div class="col-6 end">

                        <button mat-button class="reset" type="reset">Resetar</button>

                    </div>

                </div>

            </div>

        </form>

    </mat-card-content>

</mat-card>

<mat-divider></mat-divider>

<div class="row add">
    <div class="col-12">
        <button mat-raised-button color="primary" (click)="create()">Adicionar Cliente</button>
    </div>
</div>

<app-customer-list [customers]="customers"></app-customer-list>

<app-paginator (page)="pageClick($event)" [pageIndex]="paginator.pageIndex" [pageSize]="paginator.pageSize"
    [totalElements]="paginator.totalElements!"></app-paginator>