mat-divider {
    margin: 3em 0em;
}

.search {
    margin-top: 35px;
}

.reset {
    background-color: #d5d5d5;
    color: black;
}

.end {
    text-align: end;
}

.add {
    margin: 15px 0px;
}

.option{
    align-self: flex-end;
}